<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carousel</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="product-carousel container">
    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider">
                <a class="carousel-item" data-cindex="0" href="#one!"><img src="./img/slider-002.png"></a>
                <a class="carousel-item" data-cindex="1" href="#two!"><img src="./img/slider-003.jpg"></a>
                <a class="carousel-item" data-cindex="2" href="#three!"><img src="./img/ferrari.jpg"></a>
                <a class="carousel-item" data-cindex="3" href="#four!"><img src="./img/slider-005.jpg"></a>
                <a class="carousel-item" data-cindex="4" href="#five!"><img src="./img/slider-007.png"></a>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js'></script>
<script src="js/script.js"></script>

</body>
</html>
