<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="maxFileSize" value="5MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="file" value="${catalina.home}/logs/file.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
<!--        <appender-ref ref="file"/>-->
    </root>
</log4j:configuration>


        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<Configuration status="WARN">-->
        <!--    <Properties>-->
        <!--        <property name="pattern_5">-->
        <!--            %d{yyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n-->
        <!--        </property>-->
        <!--    </Properties>-->
        <!--    <Appenders>-->
        <!--        <File name="TxtFile" filemame="logs/text.log" bufferedIO="true">-->
        <!--            <PatternLayout pattern="${pattern_5}"/>-->
        <!--        </File>-->

        <!--        <Console name="LogToConsole" target="INFO">-->
        <!--            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n}{TRACE=cyan}"-->
        <!--                           disableAnsi="false"/>-->
        <!--        </Console>-->
        <!--    </Appenders>-->
        <!--    <Loggers>-->
        <!--        <Logger name="com.enterprise" level="info" additivity="false">-->
        <!--            <AppenderRef ref="LogToConsole"/>-->
        <!--            <AppenderRef ref="TxtFile"/>-->
        <!--        </Logger>-->
        <!--        <Root level="info">-->
        <!--            <AppenderRef ref="LogToConsole" level="INFO"/>-->
        <!--            <AppenderRef ref="TxtFile" level="error"/>-->
        <!--        </Root>-->
        <!--    </Loggers>-->
        <!--</Configuration>-->

