.fw-900 {
    font-weight: 600;
}

.cart {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background-color: #fff;*/
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 15px;
}

.car:after {
    content: "";
    flex: auto;
}

.car {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0 auto;
    width: 111vh;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.rounded {
    /*border-radius: 12px;*/
}
