.wrap {
    width: 20vw;
}

.popup {
    margin: 10px 10px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}