.option {
    position: absolute;
    top: 5rem;
    left: 5vh;
}

.priceInput {
    top: 1rem;
}

.button {
    border: none;
    background-color: #cccccc;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease width;
    text-align: center;
    font-family: Verdana, Roboto, sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 19px;
}

body > div.option > form > div > a:hover {
    text-decoration: none;
    color: #ffffff;
}

.button:hover {
    background: #cccccc;
}

.button:last-child {
    margin-right: 0;
}

input {
    border-radius: 5px;
    margin-bottom: 0px;
    width: 200px;
}

span > i {
    color: white;
}

span > input {
    background: none;
    color: white;
    border: 0;
    padding: 0;
}

select {
    border-radius: 5px;
    width: 190px;
}

body > div.option > form > div > div.btn-group.sort-btn > button > input {
    display: none;
}

div.btn-group.sort-btn {
    width: 240px;
}

#direction {
    width: 3.5vw;
}

.buttons {
    margin-bottom: 2vh;
    left: 1vw;
}