*, body {
    transition: all 0.5s ease;
    font-family: Raleway, Roboto, sans-serif;
    font-weight: 600;
}

.submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 10px;
    left: 250px;
    width: 200px;
    height: 40px;
    background-color: #111111;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 17px;
    cursor: pointer !important;
    outline: none;
}

.submit:hover {
    background-color: #222222;
}

.purchase {
    font-size: 0;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 0;
    border: 3px solid #5a5a5a;
    border-bottom: 3px solid rgba(255, 255, 255, 0.0);
    border-left: 3px solid rgba(255, 255, 255, 0.0);
    background-color: transparent !important;
    animation-name: rotateAnimation;
    -webkit-animation-name: wk-rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes wk-rotateAnimation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.fa {
    color: green;
    font-size: 20px !important;
    position: absolute;
    left: 250px;
    top: 20px;

    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
}

.finish {
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}

.hide-loading {
    opacity: 0;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
}