* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    top: 1vw;
    left: 5vh;
    position: absolute;
}

body {
    padding: 15px;
    caret-color: transparent;
}

.carousel {
    overflow: visible;
}

img {
    /*border-radius: 10px;*/
    transition: transform .7s ease-out;
}

img:hover {
    /*border-radius: 12px;*/
    transform: scale(1.2);
    cursor: pointer;
}


button {
    background-color: #5d5d5d;
    width: 20px;
    height: 20px;
    float: left;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s ease width;
    text-align: center;
    font-family: Raleway, Roboto, sans-serif;
    font-weight: 600;
    /*font-size: 14px;*/
    color: #ffffff;
    line-height: 15px;
}

body {
    margin: 0;
    padding: 0;
    background: #e1e1e1;
    overflow: hidden;
}

.carousel {
    height: 600px;
    perspective: 250px;
}

.carousel .carousel-item {
    top: 10vh;
    width: 600px;
    height: auto;
    position: absolute;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    top: 18vw;
    border: none;
    left: 45%;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    height: 400px;
    padding: 10px;
    background-color: white;
    opacity: 0.5;
    /*border-radius: 10px;*/
}


.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100px;

}

#myForm:hover {
    cursor: pointer;
    transform: perspective(500px) scale(1.2) translateY(-5px);
}
#myForm {
    width: 350px;
    text-align: center;
    border-radius: 8px;
    transition: transform .7s ease-out;
}