.TableHead {
    box-sizing: border-box;
    width: 1302px;
    height: 50px;
    background: #F9F9F9;
}

th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

th:first-child {
    border-left: 1px solid #dddddd;
}

tbody:before {
    content: "@";
    display: block;
    line-height: 10px;
    text-indent: -99999px;
}

.row {
    box-sizing: border-box;
    width: 1302px;
    height: 55px;
    left: 309px;
    top: 404px;
    background: #FFFFFF;
    border-width: 1px 1px 1px 1px !important;
    border-style: solid !important;
    border-color: #DDE0E2 !important;
}

h1 {
    font-size: 42px;
    color: #2c3e50;
}

.onButton {
    bottom: 0px;
    left: 11px;
    right: 8px;
    color: #8E9AA0;
}

input {
    border: none;
    font-family: 'Saira', sans-serif;
}
